@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5{
  font-family: "Poppins", sans-serif;
}
header{
  font-family: "Poppins", sans-serif;
}
.h-hero{
  height: calc(100vh - 80px);
}
.custom-container{
  max-width: 980px;
  padding: 10px;
  margin: 0 auto;
}
.custom-project-container{
  max-width: 1400px;
  padding: 10px;
  margin: 0 auto;
}
.project-image-container{
  background-size: cover;
  background-position: top;
  /* background-color: red; */
  transition: ease-in-out 5s;

  overflow: hidden;
}
.project-image-container:hover{
  background-position: bottom;
}

@media (max-width: 450px){
  .custom-container{
    padding: 7% 18px;
  }
  .custom-project-container{
    padding: 7% 18px;
  }
}

@media (max-width: 450px){
  .h-hero{
    height: auto;
    padding-bottom: 16px;
  }
}